<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201787268026-tgu8mjr5qkja8t5ek1rkf6ie0hrnjq5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201787268026-tgu8mjr5qkja8t5ek1rkf6ie0hrnjq5v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201787268026-lj2dm4uqp9pqh9qavv6gok69ojhk72f7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBU3vCRR3POe4Qj3m7L7Dmq0YmXuXxcOg</string>
	<key>GCM_SENDER_ID</key>
	<string>201787268026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.presenceApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-fd370</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-fd370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201787268026:ios:4c40db8ace130d49b25b83</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-fd370-default-rtdb.firebaseio.com</string>
</dict>
</plist>